* {
    margin: 0;
}



.btn-agendar {
    background-color: #bb0000;
    color: white;
}

.btn-agendar:hover {
    background-color: #920000;
    color: white;
}


.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: #dddddd !important;
}

footer{
    p{
        color: white;
    }
}